$ssf-blue: #00529b;

.remember-me-container {
  margin-top: 20px;
}

#evry-login-client {
  width: 600px;
  height: 300px;
  border: none;
}

.flex-row {
  display: flex;
  flex-direction: row;

  &.flex-h-center {
    justify-content: center;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;

  &.flex-h-center {
    align-items: center;
  }

  &.flex-v-center {
    justify-content: center;
  }
}

.flex-row,
.flex-column {
  > * {
    display: flex;
  }
}

#qr-login-button-container {
  margin-left: 20px;
  padding-top: 10px;

  > button {
    margin-bottom: 10px;
  }
}

.loader-container {
  height: 90vh;

  .loader-inner-container {
    height: 200px;
  }
}

.hidden {
  display: none;
}

.button-delete {
  margin-left: 5px;

  &::after {
    position: absolute;
    padding: 0 16px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' style='position:absolute;width:32px;height:32px;overflow:hidden' version='1.1'%3E%3Cg viewBox='0 0 32 32' stroke='white' fill='white'%3E%3Cpath d='M28.727 6.699h-8.462l-1.093-2.893c-0.083-0.22-0.294-0.365-0.528-0.365h-5.258c-0.235 0-0.445 0.145-0.528 0.365l-1.093 2.893h-8.462c-0.312 0-0.564 0.253-0.564 0.564s0.252 0.564 0.564 0.564h1.881l1.582 21.692c0.021 0.295 0.267 0.523 0.563 0.523h17.374c0.296 0 0.541-0.229 0.563-0.523l1.582-21.692h1.881c0.312 0 0.564-0.253 0.564-0.564s-0.252-0.564-0.564-0.564zM13.776 4.57h4.478l0.74 1.957h-5.958l0.74-1.957zM24.177 28.915h-16.324l-1.538-21.086h19.399l-1.537 21.086z'/%3E%3Cpath d='M16.015 26.66c0.312 0 0.564-0.253 0.564-0.564v-15.562c0-0.312-0.252-0.564-0.564-0.564s-0.564 0.253-0.564 0.564v15.562c0 0.312 0.252 0.564 0.564 0.564z'/%3E%3Cpath d='M20.191 26.659c0.012 0.001 0.024 0.001 0.036 0.001 0.295 0 0.544-0.23 0.563-0.529l0.973-15.562c0.019-0.311-0.217-0.579-0.528-0.599-0.312-0.023-0.579 0.217-0.599 0.528l-0.971 15.562c-0.020 0.312 0.217 0.579 0.528 0.599z'/%3E%3Cpath d='M11.803 26.66c0.012 0 0.024 0 0.036-0.001 0.311-0.019 0.547-0.287 0.528-0.599l-0.972-15.562c-0.019-0.311-0.279-0.549-0.599-0.528-0.311 0.019-0.547 0.287-0.528 0.599l0.972 15.562c0.019 0.299 0.268 0.529 0.563 0.529z'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
}
