$default-primary-color: rgb(0, 82, 155);
$default-secondary-color: #ffb944;
$default-danger-color: #f54e71;

$onsurface: rgb(0, 0, 0);
$primary: rgb(0, 82, 155);
$onprimary: rgb(255, 255, 255);

//colors
$black_20: rgba(0, 0, 0, 0.2);
$black_14: rgba(0, 0, 0, 0.14);
$black_12: rgba(0, 0, 0, 0.12);
